.Participants {
	&__currentRaffleName {
		text-align: center;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 15px;
	}

	&__all {
		&__title {
			font-size: 25px;
			font-weight: 600;
		}
	}
}
