@import './../../designUtils/colors';

.RaffleNavTitle {
    text-align: center;
    margin: 5px 0px 10px 0px;
    font-size: 25px;
    font-weight: 600;
}

.RaffleNav {
    border: 2px solid #f0f0f0;
    margin: 0 auto;
    width: 100%;
    min-width: fit-content;
    margin-bottom: 30px;
}

.MuiTouchRipple-root {
    transition: 0.3s;
    color: $grey;
}